.card{
    height:300px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    padding-top:130px;
    position:relative;
}
.card-1, .card-2, .card-3{
    height:200px;
    width:200px;
    background-color:rgb(228, 228, 234);
    border-radius:20px;
    display:flex;
    flex-direction:column;
    padding:30px 30px 0px 30px;
}
.card-1>h2, .card-2>h2, .card-3>h2{
    margin-bottom:0;
}
.card-1>button, .card-2>button, .card-3>button{
    width:120px;
    padding:5px;
    color:blueviolet;
    border-radius:20px;
    border-color:transparent;
    background-color: whitesmoke;
    font-size:16px;
}
.symbol>span>i{
    font-size:45px;
    padding:40px;
    border-radius:50%;
    color:white;
    background-color:rgb(125, 125, 230);
}
.symbol{
    position:absolute;
    top:0;
    left:0;
}
#A{
    position:absolute;
    top:70px;
    left:350px;
}
#B{
    position:absolute;
    top:70px;
    left:780px;
}
#C{
    position:absolute;
    top:70px;
    left:1200px;
}


