.course{
    height:650px;
    width:100%;
    margin-top:5rem;
}
.course>p{
    text-align:center;
    font-weight:200;
    font-family:'Roboto Mono', monospace;
    color:rgb(125, 125, 230);
}
.course>h1{
    text-align:center;
    font-weight:600;
    font-family:'Roboto Mono', monospace;
}
.course>ul{
    display:flex;
    background-color:rgb(228, 228, 234);
    width:470px;
    border-radius:15px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:32%;
}
.course>ul>li{
    list-style:none;
    margin-right:20px;
    padding:5px 10px; 
}
.course>ul>li>a{
    text-decoration: none;
    color:black;
    font-weight:700;
}