*{
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
.up-box{
    width:100%;
    background-color: gold; 
    height:60px; 
    padding:15px 0px 15px 85px;
}
.up-box>p{
    font-size:20px;  
    font-weight:700; 
}
.up-box>p>i{
    font-size:20px;  
    margin-right:15px;
}


@media only screen and (max-width:420px) and (min-width:320px){
    body{
        position:relative;
    }
    .up-box{
        padding-left:50px;
    }
}

@media only screen and (max-width:760px) and (min-width:421px){
    body{
        position:relative;
    }
    .up-box{
        height:70px; 
        width:100%;
    }
    .up-box>p{
        font-size:25px; 
        padding-left:80px;
    }
}