.gallery{
    margin:50px;
    height:800px;
    position:relative;  
}
.gallery>h1{
    font-size:45px;  
    font-family: 'Open Sans', sans-serif;
    text-align:center; 
    margin-bottom:30px;
}
.gallery1>img{
    border-radius:15px;  
    height:680px;  
    width:450px;
}
.g-p{
    width:350px;   
    height:310px;  
    border-radius:20px;
    font-size:25px;
    line-height:50px;
    position:absolute;  
    top:650px;
    left:200px;
    color:white;
    padding: 45px 30px;
    backdrop-filter:blur(3px);
    opacity:0;
    font-weight:700;
}
.g-p>p>span, .g-p1>p>span, .g-p2>p>span{
    color:crimson;
}
.gallery1:hover .g-p{
    position:absolute;  
    top: 300px;   
    transition: all 1s linear;   
    opacity:1;
}
.photo{
    display:flex;  
    padding-left:150px;
}
.gallery2{
    display:flex;  
    margin-left:40px; 
    flex-direction:column;  
    position:relative; 
}
.gallery2>img{
    border-radius:15px; 
    margin-bottom:20px;
    height:330px;  
    width:500px;  
    
}
.g-p1{
    width:450px;   
    height:250px; 
    border-radius:20px;
    font-size:25px;
    line-height:50px;
    font-weight:700;
    position:absolute; 
    top:200px; 
    left:20px;
    color:white; 
    padding: 45px 30px;
    backdrop-filter:blur(2px);  
    opacity:0;  
    font-size:25px;  
}
.gallery2:hover .g-p1{
    position:absolute;  
    top: 30px;   
    transition: all 1s linear;   
    opacity:1;
}
.gallery2:hover .g-p2{
    position:absolute;  
    top: 370px;   
    transition: all 1s linear;   
    opacity:1;
}
.g-p2{
    width:450px;   
    height:250px; 
    border-radius:20px;
    font-size:25px;
    line-height:50px;
    font-weight:700;
    position:absolute; 
    top:400px; 
    left:20px;
    color:white; 
    padding: 45px 30px;
    backdrop-filter:blur(2px);  
    opacity:0;  
    font-size:25px;  
}


@media only screen and (max-width:420px) and (min-width:320px){
    .photo{
        margin:10px;  
        padding:0;  
        display:flex;
        flex-direction:column;
    }
    .gallery{
        margin-top:320px;  
        position:relative;
    }
    .gallery1>img{
        height:300px;   
        width:270px;   
        margin-left:20px;
    }
    .gallery2>img, .gallery2>img:last-child{
        height:200px;   
        width:300px;  
        margin-left:-15px;
    } 
}


@media only screen and (max-width:760px) and (min-width:421px){
    .photo{
        padding:0;
    }
    .gallery{
        margin-top:50px;  
        position:relative;
    }
    .gallery1>img{
        height:450px;   
        width:300px;   
        margin-left:20px;
    }
    .gallery2>img, .gallery2>img:last-child{
        height:200px;   
        width:300px;  
        margin-left:15px;
    } 
}