.video>video{
    height:700px; 
    width:100%; 
    object-fit: cover;
}
.video{
    align-items:center;
    width:100%; 
    position:relative;
}
.video-content>h3{
    font-size:30px;
    color:white;
}
.video-content>p>a{
    text-decoration: none; 
    font-size:23px; 
    padding-left:35px;
    font-weight:800; 
    color:white; 
    padding-top:10px;
}
.video-content>p>a:hover{
    color:orangered;
}
.video-content>p>a:first-child:hover{
    color:white !important ; 
}
.video-content>button{
    font-size:22px;  
    background-color: orangered;
    border-color:transparent;
    color:white; 
    border-radius:25px;  
    padding:8px 15px;
    text-decoration:none;
}
.video-content>button:hover{
    background-color: crimson;
}
.video-content{
    display:flex; 
    justify-content:space-around; 
    width:100%;
    position:absolute;  
    top:30px; 
}
.video-heading{
    width:100%; 
    position:absolute; 
    top:200px;
}
.video-heading>h1{
    margin-top:15px;
    color:white; 
    font-weight:800; 
    font-size:70px; 
    text-align:center;
}
.video-heading>p{
    color:white; 
    font-size:22px; 
    font-weight:800;
    text-align:center;
}
.video-heading>button{
    font-size:20px; 
    font-weight:600; 
    border-radius:25px;
    background-color:orangered; 
    border-color:transparent;
    padding:10px 20px;
    color:white;
    margin-left:45%;
    margin-top:60px;
}
.video-heading>button:hover{
    background-color:crimson; 
}
.video-footer{
    width:100%;  
    display:flex; 
    justify-content: space-around;
    position:absolute; 
    top:610px;
}
.video-footer>p>i{
    font-size:25px;
    color:orangered;
    margin-right:10px;
}
.video-footer>p>span{
    font-size:25px;
    color:white;
}
#icon>i{
    font-size:25px; 
    color:white; 
    background-color:orangered;
    border-radius:50%; 
    padding:8px;
    margin-right:10px; 
    margin-left:5px;
    transition:all 2s ease-in-out;
}
#icon>i:hover{
    transform: rotate(360deg);
    background-color: yellow;
}

@media only screen and (max-width:420px) and (min-width:320px){
    .video-content{
        display:none;
    }
    .video>video{
        height:300px;  
        width:100%;
    }
    .video-heading{
        position:absolute;   
        top:50px;  
        left:0px;
    }
    .video-heading>h1{
        font-size:40px;
    }
    .video-heading>p{
        font-size:20px;
    }
    .video-heading>button{
        font-size:20px;  
        margin:10px 0px 0px 35%;
    }
    .video-footer{
        position:absolute;   
        top:240px;   
        left:0px;
    }
    .video-footer>p>span, .video-footer>p>i{
        font-size:15px;   
         margin-right:10px;
    }
    #icon{
        display:none;
    }
}


@media only screen and (max-width:760px) and (min-width:421px){
    .video>video{
        height:450px;  
        width:100%;
    }
    .video-content>h3, .video-content>button{
        display:none;
    }
    .video-content>p>a{
        padding-right:10px;
    }
    .video-content{
        display:flex;
        position:absolute;
        top:20px;
        left:0;
    }
    .video-heading{
        position:absolute;   
        top:120px;  
        left:0px;
    }
    .video-heading>p{
        font-size:28px;
        color:black;
        margin-bottom:10px;
    }
    .video-heading>h1{
        font-size:60px;
    }
    .video-heading>button{
        margin:15px 0px 0px 40%;
    }
    .video-footer{
        position:absolute;
        top:365px;
    }
    .video-footer>p>span{
        font-size:20px;
    }
}